body 
{
  	background-color: #e8e8e8;
	margin: auto;
	max-width: 80%;
}

div .title
{
	text-align: center;
}

div .form-wrapper
{
	text-align: center;
  	background-color: #beefff;
}

form
{
	padding-top: 8px;
	padding-bottom: 8px;
}

div .form-wrapper 
{
	padding-top: 15px;
	padding-bottom: 15px;
	margin-top: 20px;
	margin-bottom: 20px;
}

div .content
{
	padding: 20px;
	margin-top: 20px;
	margin-bottom: 20px;
	background-color: black;
}
